/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  max-inline-size: 700px;
  min-inline-size: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font, "Inter-Variable", "Arial", sans-serif);
  font-variation-settings: "wght" var(--fw-card-text, 400);
  font-size: var(--text-fz, 18px);
  background-color: #fff;
  background-image: var(
    --bg-image,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a)
  );
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid var(--border-color, #000);
  line-height: 0.9;
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  font-size: var(--accent-fz, 14px);
  text-align: center;
  color: #fff;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  fill: #fff;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
  transition: 0.3s ease;
}

.header {
  border: 2px solid var(--border-color, #000);
  inline-size: var(--inline-size, clamp(375px, 100vw, 700px));
  background-color: var(--card-bg-color, #fff);
  margin-block: 100px;
}

.header__content {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-block: var(--header-padding, clamp(120px, 20.4vw, 128px));
}

.header__logo {
  font-size: var(
    --header-title-fz,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
  font-weight: normal;
  pointer-events: none;
  outline: none;
}

.header__title {
  font-size: var(
    --header-subtitle-fz,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
  text-transform: uppercase;
}

.card {
  inline-size: var(--inline-size, clamp(375px, 100vw, 700px));
  background-color: var(--card-bg-color, #fff);
  border: 2px solid var(--border-color, #000);
  display: flex;
  flex-direction: column;
}

.card__title {
  padding-inline: 10px;
  padding-block: 5px;
  font-size: var(--text-fz, 18px);
  font-variation-settings: "wght" var(--fw-card-title, 700);
  border-bottom: 2px solid var(--border-color, #000);
}

.card__image {
  position: relative;
  inline-size: 100%;
  overflow: hidden;
  margin: 0;
  aspect-ratio: 1/1;
}

.card__image img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.card__image-label {
  position: absolute;
  z-index: 2;
  inset-inline-end: var(--label-inset-inline, clamp(11px, 2.6vw, 25px));
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  font-size: var(--accent-fz, 14px);
  text-shadow: -1px -1px 0 var(--text-stroke-color, #fff),
    1px -1px 0 var(--text-stroke-color, #fff), -1px 1px 0 #fff,
    1px 1px 0 var(--text-stroke-color, #fff);
  color: #000;
}

@supports (text-stroke: 1px var(--text-stroke-color, #fff)) or
  (-webkit-text-stroke: 1px var(--text-stroke-color, #fff)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
    text-shadow: none;
  }
}

.card__text {
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.17;
  gap: 27px;
  border-top: 2px solid var(--border-color, #000);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-end: 25px;
  padding-block-end: 23px;
  gap: 7px;
}

.card__icon-button {
  cursor: pointer;
  block-size: 34px;
  margin-block-end: 1px;
  background-color: transparent;
  box-shadow: 0 0 0 0 var(--border-color, #000);
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  box-shadow: 0 0 0 2px var(--border-color, #000);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  inline-size: var(--button-inline-size, clamp(310px, 80vw, 339px));
  padding: 15px 19px 15px 21px;
  margin-block-end: 103px;
}

.button-icon {
  block-size: 21px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-inline-size: 357px;
  border: 2px solid var(--border-color, #000);
  padding: 30px;
}

.dialog[open]::backdrop {
  background-color: var(--accent-color, #000);
  filter: opacity(0.75);
}

.dialog__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__info svg {
  flex-shrink: 0;
  block-size: 39px;
  inline-size: 39px;
}

.dialog__text {
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  line-height: 1.5;
  font-size: var(--accent-fz, 14px);
  text-transform: uppercase;
}

.button-close {
  inline-size: 100%;
  block-size: 38px;
  text-transform: uppercase;
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-grayscale {
  filter: grayscale(120%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-hue-rotate {
  filter: hue-rotate(-40deg);
}

.filter-hue-rotate-saturate {
  filter: hue-rotate(-180deg) saturate(200%);
}

.filter-blur {
  filter: blur(0.1rem);
}

@media (width <= 375px) {
  .header {
    margin-block: 100px;
  }
  .button-save {
    flex-direction: column;
  }
  .button-icon {
    block-size: 28px;
  }

  .dialog[open] {
    padding-inline: 42px;
    max-inline-size: 341px;
  }
}
